 .app-default{
        display: none;
    }
    .dashboard #content {
width: 80% !important;
}
#header{
	padding:15px 0px 15px 0px !important;
	background-color: #1d2731 !important;

}
#content-main
{
	margin-top: 30px;
}
#content-related{
	margin-top: 30px !important;
}
.module-sep
{
	margin: 0px 8px 50px 18px !important;
}
div.breadcrumbs
{
	padding: 19px 8px 20px 18px !important;
	font-size:14px !important;
}
.module h2, .module caption, .inline-group h2
{
	background: #22313f !important;
}
.module h2
{
	color:#ffffff !important;
}
#branding
{
	width:75%;
	vertical-align: middle;

}
.logo-sub
{
	float:left;
	width: 173px;
	display: inline-block;
}
.logo-sub img{ width:100%;}
.login #branding{
	text-align: center !important;
	width: 100% !important;
}
.login #branding .logo-sub{
	float: none !important;
}
.login #content-main{
	margin-top: 0 !important;
}
.submit-row input {
	margin: 0 10px 20px !important;
padding: 15px 10px !important;
text-align: center !important;
width: 175px !important;
float: left !important;
-webkit-appearance: button;
cursor: pointer !important;
border: 1px solid #ffcc19 !important;
background-color: #ffcc19 !important;
color: #656f79 !important;
border-radius: 4px !important;
display: inline-block !important;
font-family: 'Open Sans', sans-serif !important;
font-weight: bold !important;
text-transform: uppercase !important;
background-image:none !important;
}

.login .submit-row
{
	padding: 2em 0 0 10.4em !important;
}
#id_username  {
border: 1px solid #CCC !important;
border-radius: 4px;

display: block;
font-family: 'Open Sans', sans-serif;
line-height: 20px;
padding: 15px !important;
width: 100%;
font-size: 14px;

}
#id_password {
	border: 1px solid #CCC !important;
border-radius: 4px;

display: block;
font-family: 'Open Sans', sans-serif;
line-height: 20px;
padding: 15px !important;
width: 100%;
font-size: 14px;
}

.login #container
{border:none !important;
width: 40em !important;
}

.ui-datepicker tr th{
	padding:0 !important;
}
